//base
* {
    box-sizing: inherit;
    font-family: 'Quicksand', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.app {
    overflow: hidden;
}

a {
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
    color: var(--text-color);
    outline: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

// static header
.header-static {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-background);
    height: var(--static-height);
    width: 100%;
}

.header-static__list {
    display: flex;
}

.header-static__phone {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-static__icon {
    color: #5c5c5c;
    font-size: 1.4rem;
}

.header-static__phone .header-static__icon {
    margin-left: 30px;
}

.header-static__phone-number {
    margin-left: 5px;
    font-weight: 700;
    font-size: 1.3rem;
    text-shadow: 0.9px 0px rgba(0, 0, 0, 0.2);
    color: #252a2b;
}

.header-static__account {
    font-size: 1.4rem;
    font-weight: 350;
    cursor: pointer;
}

.header-static__icon.header-static__icon-bigger {
    font-size: 1.6rem;
}

.header-static__account-text {
    margin-left: 2px;
}

.header-static__cart {
    font-size: 1.4rem;
    font-weight: 350;
    margin: 0 3vw 0 4vw;
    color: #3f3f3f;
    cursor: pointer;
}

.header-static__cart-text {
    margin-left: 2px;
}

.header-static__cart-amount {
    color: red;
    font-weight: 400;
    font-size: 1.4rem;
}

// dynamic header 
html:not([data-scroll="0"]) {
    .header-dynamic {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        animation: dynamic-down 0.8s ease-out;
        min-height: 52px;
        align-items: center;
    }
    .header-dynamic__category-list {
        margin-bottom: 0px;
    }
    .header-dynamic__search-input {
        margin-top: 0px;
    }
    .header-dynamic__logo {
        margin-top: 0px;
    }
    .header-dynamic__logo-img {
        margin-top: 0px;
    }
    @keyframes dynamic-down {
        from {
            opacity: 0;
            transform: translateY(-100%);
        }
        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }
}

.header-dynamic {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    // height: var(--dynamic-height);
    min-height: var(--dynamic-height);
    background-color: var(--white-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    // top: var(--static-height);
    transition: 1s ease-in-out;
}

.header-dynamic__logo {
    margin: 10px 0 0 0;
    width: 16.5%;
    height: 100%;
    outline: none;
    text-decoration: none;
}

.header-dynamic__logo-img {
    width: 100%;
    min-height: 24px;
    max-height: 45.5px;
    min-width: 160px;
    max-width: 280px;
    margin-top: 10px;
}

.header-dynamic__category {
    margin-top: 10px;
    min-width: 370px;
}

.header-dynamic__category-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    padding-left: 0px;
    margin-bottom: 8px;
}

.header-dynamic__category-item {
    position: relative;
    margin: 0px 8px;
    padding: 14px 0px;
    font-size: 1.4rem;
    font-weight: 800;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    list-style: none;
    height: 4.9rem;
}

.header-dynamic__category-link {
    color: var(--text-color);
}

.header-dynamic__category-item:hover {
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.header-dynamic__category-link.header-dynamic__category-link--hightlight {
    color: red;
}

.header-dynamic__search {
    width: 16%;
}

.header-dynamic__search-input {
    display: flex;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 20px;
    height: 36px;
    width: 100%;
    max-width: 280px;
    align-items: center;
    justify-content: space-between;
    margin: 18px 20px 0 0;
    min-width: 175px;
}

.header-dynamic__search-text {
    border: none;
    background-color: transparent;
    padding-left: 14px;
    font-size: 1.4rem;
    width: 85%;
}

.header-dynamic__search-text:focus {
    outline: none;
}

.header-dynamic__search-logo {
    display: block;
    font-size: 1.8rem;
    color: #666;
    margin: 0 3% 0 2%;
    width: 10%;
}

.header-dynamic__search-logo:hover {
    cursor: pointer;
}

.category--has-dropdown {
    position: relative;
}

.header-dynamic__category-item.category--has-dropdown:hover .header-dynamic__category-product {
    display: flex;
    z-index: 1;
}

// product drop-down kind 1
.header-dynamic__category-product {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0px;
    background-color: var(--white-color);
    z-index: 1;
    text-transform: initial;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .05);
    width: 60vw;
    max-width: 840px;
    min-width: 580px;
    padding: 15px 0;
    display: none;
    animation: appear ease-in 0.3s;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .08);
    // transform-origin: 50% 50%;
    // transform: rotate3d(1, 0, 0, -90deg);
    // transform-origin: 0 0 0;
    // -webkit-transition: all .2s ease;
    // transition: all .5s ease;
}

.header-product__name {
    position: relative;
    width: 30%;
    margin: 9px 0px 0px 10px;
    height: 1.8rem;
}

.header-product__name-link {
    width: 100%;
    display: block;
    color: #666;
    padding-top: 8px;
    font-size: 1.5rem;
    font-weight: 700;
}

.header-product__name-link:hover {
    color: #000;
    cursor: pointer;
}

.header-product__list {
    display: flex;
    width: 70%;
}

.header-product__product {
    display: flex;
    flex-direction: column;
    outline: none;
    margin-right: 10px;
    color: #999;
    font-weight: 300;
    width: 33.33333%;
}

.header-product__product-img {
    width: 90%;
}

.header-product__product-name {
    width: 92%;
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    height: 1.4rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.header-product__name.category--has-dropdown:hover .header-product__category {
    display: block;
    z-index: 1;
}

// children product name
.header-product__category {
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 100%;
    background-color: var(--white-color);
    width: 100%;
    display: none;
    animation: appear ease-in 0.3s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.header-product__category-list {
    list-style: none;
    padding-left: 0px;
    width: 100%;
}

.header-product__category-item {
    position: relative;
    padding: 9px 10px;
    width: 100%;
}

.header-product__category-link {
    color: #666;
    width: 100%;
    font-size: 1.5rem;
    display: block;
}

.header-product__category-item.category--has-dropdown-1:hover .header-category__children-list.category-children__1 {
    display: block;
    z-index: 1;
}

.header-product__category-item.category--has-dropdown-2:hover .header-category__children-list.category-children__2 {
    display: block;
    z-index: 1;
}

.header-product__category-item.category--has-dropdown-3:hover .header-category__children-list.category-children__3 {
    display: block;
    z-index: 1;
}

//children of children product
.header-category__children-list {
    z-index: 2;
    display: none;
    position: absolute;
    top: 0px;
    left: 100%;
    width: 100%;
    list-style: none;
    padding-left: 0px;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    animation: appear ease-in 0.3s;
}

.header-category__children-item {
    padding: 9px 10px;
}

.header-category__children-link {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    color: #666;
}

// children product kind 2: hover
.header-dynamic__category-item.category--has-dropdown:hover .header__category-dropdown {
    display: block;
    width: 232px;
    top: 100%;
    left: 0;
    animation: appear ease-in 0.3s;
    z-index: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

//responsive header non-display element
.header-dynamic__tablet-list {
    display: none;
}

.header-dynamic__tablet-category {
    margin: 0;
}

.header-dynamic__mobile-category {
    display: none;
}

.header-dynamic__mobile-list {
    display: none;
}

#category-menu-status {
    display: none;
}

.category__status-checkbox:checked~.modal__overlay-category {
    display: block;
}

.category__status-checkbox:checked~.category-menu {
    transform: translateX(0%);
    opacity: 1;
}

//Modal category
.modal__overlay-category {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: appear linear 0.3s;
    // display: block;
    display: none;
}

.modal.modal-category {
    display: none;
}

.category-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--white-color);
    width: 60%;
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.3s;
}

.category-menu__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #000;
    color: var(--white-color);
}

.category-menu__title-text {
    text-transform: uppercase;
    font-size: 1.7rem;
}

.category-menu__list {
    list-style: none;
    padding-left: 0px;
}

.category-menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(233, 233, 233);
}

.category-menu__link {
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 10px 20px;
    width: 100%;
}

.category-menu__link:active {
    color: #999;
}

.category-menu__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-left: 1px solid rgb(233, 233, 233);
}

.category-menu__icon {
    font-size: 1.3rem;
    color: #999;
}

.category-menu__item-phone {
    background-color: rgb(233, 233, 233);
}

.category-menu__phone-icon {
    color: #5c5c5c;
    font-size: 1.4rem;
}

.category-menu__phone-number {
    color: var(--text-color);
    font-size: 1.3rem;
}

#search-nav-status:checked~.modal__overlay-search {
    display: block;
}

#search-nav-status:checked~.nav-search {
    transform: translateX(0%);
    opacity: 1;
}

// nav search Right
.modal__overlay-search {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: appear linear 0.3s;
    display: none;
}

.nav-search {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 62%;
    background-color: var(--white-color);
    padding: 60px 20px 100px 20px;
    transform: translateX(100%);
    transition: all linear 0.3s;
}

.nav-search__heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-search__heading-text {
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 500;
    cursor: default;
}

.nav-search__heading-icon {
    font-size: 2.7rem;
    margin-right: 10px;
    color: #777;
}

.nav-search__heading-icon:hover {
    color: var(--text-color);
    cursor: pointer;
}

.nav-search__input {
    margin-top: 48px;
    position: relative;
}

.nav-search__input-box {
    width: 100%;
    height: 53px;
    padding: 0 55px 0 20px;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #f5f5f5;
    outline: none;
    border: none;
}

.nav-search__input-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.0rem;
    color: #999;
    // transform: translateY(-50%) translateX(-90%);
    padding: 18px;
}

.nav-search__input-icon:hover {
    color: var(--text-color);
    cursor: pointer;
}

// nav cart right
#cart-nav-status:checked~.modal__overlay-cart {
    display: block;
}

#cart-nav-status:checked~.nav-cart {
    transform: translateX(0%);
    opacity: 1;
}

.modal__overlay-cart {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: appear linear 0.3s;
    display: none;
}

.nav-cart {
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: var(--white-color);
    transform: translateX(100%);
    transition: all linear 0.3s;
    padding: 60px 20px 100px 20px;
    border-top-left-radius: 3px;
    border: 1px solid rgb(175, 175, 175);
    display: flex;
    flex-direction: column;
}

.nav-cart__title-info:hover {
    cursor: default;
}

.nav-cart__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #bcbcbc;
}

.nav-cart__title-text {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
}

.nav-cart__title-ammount {
    font-size: 1.4rem;
    margin: 5px 0 0;
    padding: 0 0 15px;
}

.nav-cart__title-count {
    font-weight: 700;
}

.nav-cart__title-icon {
    font-size: 2.4rem;
    margin-bottom: 34px;
}

.nav-cart__title-icon:hover {
    cursor: pointer;
}

.nav-cart__no-product {
    font-size: 1.4rem;
    padding: 20px 20px 20px 0;
    display: block;
}

.nav-cart__no-product:hover {
    cursor: default;
}

.line {
    width: 100%;
    border-top: 2px solid #000;
    margin: 10px 0;
    display: block;
}

.nav-cart__pay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 900;
    padding: 10px 0;
}

.nav-cart__pay:hover {
    cursor: default;
}

.nav-cart__pay-text {
    text-transform: uppercase;
}

.nav-cart__pay-money {
    display: flex;
}

.nav-cart__order {
    padding: 10px 30px;
    width: 100%;
    white-space: nowrap;
    background: #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    margin-top: 6px;
    border: none;
    font-size: 1.4rem;
}

.nav-cart__order:hover {
    cursor: pointer;
}

.nav-cart__order:focus {
    outline: none;
}

.nav-cart__order-detail {
    display: block;
    margin: 20px auto;
    width: 155px;
}

.nav-cart__order-detail-text {
    font-size: 1.4rem;
}

.nav-cart__order-detail-icon {
    font-size: 1.3rem;
    margin-left: 3px;
}

// footer
.grid.wide-larger.footer-space {
    padding: 30px 20px;
}

.grid.wide-larger.footer-space.footer-line {
    border-top: 1px solid rgb(201, 201, 201);
}

.contact__text {
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #252a2b;
    margin: 0 0 10px;
    font-weight: 500;
}

.contact__phone {}

.contact__phone-logo {
    color: #e52c25;
    line-height: 25px;
    font-size: 3.0rem;
}

.contact__phone-number {
    font-size: 2.7rem;
    padding: 0 0 0px 4px;
}

.contact__time {
    margin-top: 10px;
    font-size: 1.1rem;
    display: block;
}

.customer-email__input-wrapper {
    margin-top: 13px;
    display: flex;
}

.customer-email__input {
    padding: 10px 0px 10px 16px;
    height: 36px;
    font-size: 1.5rem;
    width: 100%;
    border: 1px solid #000;
}

.customer-email__input:focus {
    outline: none;
}

.customer-email__message {}

.customer-email__register {
    border: none;
    color: #fff;
    padding: 5px 10px;
    height: 36px;
    width: 75px;
    background: #000;
    display: block;
}

.follow-page__icon {
    font-size: 3.6rem;
}

.follow-page__icon:hover {
    color: rgb(53, 30, 182);
}

// footer-company
.footer-company {
    background-color: rgb(235, 235, 235);
}

.footer-company__checkbox {}

.footer-company__title {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
}

.footer-company__title:hover {
    cursor: pointer;
}

.footer-company__list {
    list-style: none;
    padding-left: 0px;
}

.footer-company__item {
    margin-top: 10px;
}

.footer-company__item-text {
    font-size: 1.3rem;
}

.footer-company_img-certify {
    width: 100%;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}