// footer
.grid.wide-larger.footer-space {
    padding: 30px 20px;
}

.grid.wide-larger.footer-space.footer-line {
    border-top: 1px solid rgb(201, 201, 201);
}

.contact__text {
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #252a2b;
    margin: 0 0 10px;
    font-weight: 500;
}

.contact__phone {}

.contact__phone-logo {
    color: #e52c25;
    line-height: 25px;
    font-size: 3.0rem;
}

.contact__phone-number {
    font-size: 2.7rem;
    padding: 0 0 0px 4px;
}

.contact__time {
    margin-top: 10px;
    font-size: 1.1rem;
    display: block;
}

.customer-email__input-wrapper {
    margin-top: 13px;
    display: flex;
}

.customer-email__input {
    padding: 10px 0px 10px 16px;
    height: 36px;
    font-size: 1.5rem;
    width: 100%;
    border: 1px solid #000;
}

.customer-email__input:focus {
    outline: none;
}

.customer-email__message {}

.customer-email__register {
    border: none;
    color: #fff;
    padding: 5px 10px;
    height: 36px;
    width: 75px;
    background: #000;
    display: block;
    outline: none;
}

.customer-email__register:hover {
    cursor: pointer;
    color: rgb(221, 221, 221);
    outline: none;
}

.follow-page__icon {
    font-size: 3.6rem;
}

.follow-page__icon:hover {
    color: rgb(53, 30, 182);
}

// footer-company
.footer-company {
    background-color: rgb(235, 235, 235);
}

.footer-company__checkbox {}

.footer-company__title {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
}

.footer-company__title:hover {
    cursor: pointer;
}

.footer-company__list {
    list-style: none;
    padding-left: 0px;
}

.footer-company__item {
    margin-top: 10px;
}

.footer-company__item-text {
    font-size: 1.3rem;
}

.footer-company_img-certify {
    width: 100%;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}