// Container header img
.container__wrapper-header-img {
    width: 100%;
}

// box
.container__wrapper-box {
    padding: 40px;
}

.row.row-larger {
    margin: 0 20px;
}

.container__wrapper-box-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 40px;
}

.container-box__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: 38px;
}

.container-box__item.container-box__item--has-hover:hover {
    box-shadow: 0 0 2px 0px #ccc;
    -webkit-box-shadow: 0 0 2px 0px #ccc;
}

.container-box__link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-box__link-img {
    width: 80%;
}

.container-box__link-text {
    margin: 14px auto 4px;
    width: 80%;
    line-height: 20px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 13px;
    text-align: center;
}

.container-box__price {
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.container-box__price:hover {
    cursor: default;
}

.container-box__btn {
    height: 38px;
    background-color: #000;
    padding: 6px 0px;
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    align-items: center;
    animation: appear 0.2s ease-in;
    display: none;
}

.container-box__btn a {
    width: 50%;
    text-align: center;
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 2.4rem;
}

a.container-box__buy {
    border-right: 0.5px solid var(--white-color);
}

.container-box__detail {
    border-left: 0.5px solid var(--white-color);
}

.container-box__link-icon {
    margin-right: 4px;
}

// set week
.container-suggestion__img-title {
    width: 100%;
}

.container-suggestion__week {
    padding: 0 40px;
}

.container-suggestion__week-title {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 13px;
    text-decoration: none;
    outline: none;
    position: relative;
}

.container-suggestion__week-line {
    position: absolute;
    background-color: #000;
    width: 85%;
    height: 1px;
    top: 130%;
    display: block;
}

.container-suggestion__week-description {
    margin: 30px 30px 30px 0;
    font-size: 1.4rem;
    line-height: 2.1rem;
}