:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3E;
    --gray-background: #f2f2f2;
    // size
    --static-height: 28px;
    --dynamic-height: 80px;
}