<div class="footer-contact">
    <div class="grid wide-larger footer-space footer-line">
        <div class="row">
            <div class="col l-3 m-3 c-12">
                <div class="contact">
                    <div class="contact__text">Gọi mua hàng (8:30-21:30) </div>
                    <div class="contact__phone">
                        <i class="contact__phone-logo fas fa-phone-square-alt"></i>
                        <span class="contact__phone-number">0981199350</span>
                    </div>
                    <span class="contact__time">
                        Tất cả các ngày trong tuần
                    </span>
                </div>
            </div>

            <div class="col l-3 m-3 c-12">
                <div class="contact">
                    <div class="contact__text">Góp ý, khiếu nại (8:30-20:30) </div>
                    <div class="contact__phone">
                        <i class="contact__phone-logo fas fa-phone-square-alt"></i>
                        <span class="contact__phone-number">0981199350</span>
                    </div>
                    <span class="contact__time">
                        Các ngày trong tuần ( trừ ngày lễ )
                    </span>
                </div>
            </div>

            <div class="col l-3 m-3 c-12">
                <div class="customer-email">
                    <span class="contact__text">Đăng kí nhận thông tin mới</span>
                    <div class="customer-email__input-wrapper">
                        <input type="email" class="customer-email__input" placeholder="Nhập email của bạn tại đây">
                        <span class="customer-email__message"></span>
                        <button class="customer-email__register">Đăng kí</button>
                    </div>
                </div>
            </div>

            <div class="col l-3 m-3 c-12">
                <div class="follow-page">
                    <div class="contact__text">Theo dõi chúng tôi</div>
                    <a href="https://fb.com/hung.itytng99" class="follow-page__link">
                        <i class="follow-page__icon fab fa-facebook-f"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-company">
    <input type="checkbox" hidden id="footer-company__checkbox">
    <div class="grid wide-larger footer-space">
        <div class="row">
            <div class="col l-3 m-3 c-12 footer-company__mobile-space">
                <label onclick="controlCompanyFooter()" for="footer-company__checkbox"
                    class="footer-company__title">CÔNG TY CỔ PHẦN ĐẦU TƯ T&L VIỆT
                    NAM</label>
                <ul class="footer-company__list">
                    <li class="footer-company__item">
                        <span class="footer-company__item-text">Mã số thuế: 0108597977</span>
                    </li>
                    <li class="footer-company__item">
                        <span class="footer-company__item-text">Địa chỉ: Phòng 803-812, Tầng 8, Tòa nhà 315 Trường
                            Chinh, Phường Khương Mai, Quận Thanh Xuân, Thành phố Hà Nội.
                        </span>
                    </li>
                    <li class="footer-company__item">
                        <img src="https://bucket.nhanh.vn/website/template/483/contentKey/2529/bocongthuong.png" alt=""
                            class="footer-company_img-certify">
                    </li>

                </ul>
            </div>
            <div class="col l-3 m-3 c-12 footer-company__mobile-space footer-company__mobile-border">
                <label onclick="controlCompanyFooter()" for="footer-company__checkbox" class="footer-company__title">VỀ
                    CHÚNG TÔI</label>
                <ul class="footer-company__list f">
                    <li class="footer-company__item">
                        <a href="" class="footer-company__item-text">Giới thiệu</a>
                    </li>
                    <li class="footer-company__item">
                        <a href="" class="footer-company__item-text">Liên hệ</a>
                    </li>
                    <li class="footer-company__item">
                        <a href="" class="footer-company__item-text">Tuyển dụng</a>
                    </li>
                    <li class="footer-company__item">
                        <a href="" class="footer-company__item-text">Tìm đại lý</a>
                    </li>
                </ul>
            </div>
            <div class="col l-3 m-3 c-12 footer-company__mobile-space footer-company__mobile-border">
                <label onclick="controlCompanyFooter()" for="footer-company__checkbox" class="footer-company__title">HỖ
                    TRỢ KHÁCH HÀNG</label>
                <ul class="footer-company__list">
                    <li class="footer-company__item">
                        <a href="" class="footer-company__item-text">Hướng dẫn chọn size</a>
                    </li>
                    <li class="footer-company__item">
                        <a href="" class="footer-company__item-text">Chính sách khách hàng thân thiết</a>
                    </li>
                    <li class="footer-company__item">
                        <a href="" class="footer-company__item-text">Chính sách đổi/trả</a>
                    </li>
                    <li class="footer-company__item">
                        <a href="" class="footer-company__item-text">Chính sách bảo mật</a>
                    </li>
                    <li class="footer-company__item">
                        <a href="" class="footer-company__item-text">Thanh toán, giao nhận</a>
                    </li>
                    <li class="footer-company__item">
                        <a href="" class="footer-company__item-text">Câu hỏi thường gặp</a>
                    </li>

                </ul>
            </div>
            <div class="col l-3 m-3 c-12 footer-company__mobile-space footer-company__mobile-border">
                <label onclick="controlCompanyFooter()" for="footer-company__checkbox"
                    class="footer-company__title">FANPAGE CHÚNG TÔI</label>
                <ul class="footer-company__list">
                    <li class="footer-company__item">
                        <div class="fb-page" data-href="https://www.facebook.com/ngoc.ngaoooo/" data-small-header="true"
                            data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/ngoc.ngaoooo/"
                                class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ngoc.ngaoooo/">EV -
                                    MUSIC</a>
                            </blockquote>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v8.0&appId=1882615568479231&autoLogAppEvents=1"
    nonce="gr94lk2s"></script>