<div class="header-static">
    <div class="header-static_list">
        <div class="header-static__phone">

        </div>
    </div>
    <div class="header-static__list">
        <div class="header-static__user">

        </div>

        <div class="header-static__cart">

        </div>
    </div>
    
</div>