<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="container__wrapper">
        <div class="container__wrapper-header">
            <img src="https://bucket.nhanh.vn/store/2071/bn/sb_1602043317_283.jpg" alt=""
                class="container__wrapper-header-img">
        </div>
        {{!-- Product 1 --}}
        <div class="container__wrapper-box">
            <div class="container__wrapper-box-text">SẢN PHẨM MỚI</div>
            <div class="grid">
                <div class="row row-larger">
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200924/img_8241_50344829886_o.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">

                                    Áo khoác Bomber gió bổ sườn Pazzini
                                </div>
                            </a>
                            <div class="container-box__price">450,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200924/img_8319_50354048098_o.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">
                                    Áo khoác gió có mũ Pazzini CW015
                                </div>
                            </a>
                            <div class="container-box__price">530,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201009/z2117365396603_8cebf8f26dabb64127eea47cfb67222ca.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">
                                    Áo khoác da lộn phối ngực Pazzini
                                </div>
                            </a>
                            <div class="container-box__price">590,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201015/50478501467_4e4798a8ba_k_jpga.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">
                                    Áo phao trần bông
                                </div>
                            </a>
                            <div class="container-box__price">700,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201015/50477753753_fab1bd686a_k.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">
                                    Áo nỉ trơn basic TW200
                                </div>
                            </a>
                            <div class="container-box__price">320,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201014/50475854656_1acee2d8c9_k.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">
                                    Áo khoác gió có mũ phối thân in logo
                                </div>
                            </a>
                            <div class="container-box__price">490,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201001/50403853572_a5b0ef1065_k.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">

                                    Áo khoác gió Bomber thêu logo tay CW001
                                </div>
                            </a>
                            <div class="container-box__price">450,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200924/img_8241_50344829886_o.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">

                                    Áo khoác Bomber gió bổ sườn Pazzini
                                </div>
                            </a>
                            <div class="container-box__price">450,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- box 2 --}}
        <div class="container__wrapper-box">
            <div class="container__wrapper-box-text">SẢN PHẨM BÁN CHẠY</div>
            <div class="grid">
                <div class="row row-larger">
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200924/50378693352_0f079b157e_k.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">
                                    Sơ mi dạ dài tay 2 túi Pazzini
                                </div>
                            </a>
                            <div class="container-box__price">450,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200923/img_8070_50344780957_o.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">
                                    Áo phông dài tay melange cổ tròn Pazzini LTF19-02
                                </div>
                            </a>
                            <div class="container-box__price">190,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201012/50458339282_dc292a6985_k.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">
                                    Quần kaki Wrinkless BK058
                                </div>
                            </a>
                            <div class="container-box__price">450,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201015/50478024483_093408a4c5_k.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">
                                    Quần nỉ trơn basic BS200
                                </div>
                            </a>
                            <div class="container-box__price">330,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201008/50407555877_81e8f87de0_k.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">
                                    Sơ mi dài tay trơn Torano TB190
                                </div>
                            </a>
                            <div class="container-box__price">380,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200925/50381208567_9e27b7f5c3_k.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">
                                    Quần âu Torano Slim fit cạp phối chun sườn BT002
                                </div>
                            </a>
                            <div class="container-box__price">450,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201001/50403853572_a5b0ef1065_k.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">

                                    Quần âu Torano Slim fit cạp phối chun sườn BT002
                                </div>
                            </a>
                            <div class="container-box__price">450,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-box__item container-box__item--has-hover">
                            <a href="" class="container-box__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200916/img_8522_jpga.jpg"
                                    class="container-box__link-img">
                                </img>
                                <div class="container-box__link-text">
                                    Quần âu Torano Slim fit BT025
                                </div>
                            </a>
                            <div class="container-box__price">450,000₫</div>
                            <div class="container-box__btn">
                                <a href="" class="container-box__buy">
                                    <i class="container-box__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-box__show-detail">
                                    <i class="container-box__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- suggestion --}}
        <div class="container__wrapper-suggestion">
            <div class="grid">
                <div class="row row-larger">
                    <div class="col l-6 m-6 c-12">
                        <img src="https://bucket.nhanh.vn/store/2071/bn/sb_1602232947_885.jpg" alt=""
                            class="container-suggestion__img-title">
                    </div>

                    <div class="col l-6 m-6 c-12">
                        <div class="container-suggestion__week">
                            <a href="" class="container-suggestion__week-title">
                                SET ĐỒ CỦA TUẦN
                                <div class="container-suggestion__week-line"></div>
                            </a>
                            <div class="container-suggestion__week-description">Lựa chọn của Stylist Torano giúp các bạn
                                có
                                một set đồ hoàn hảo cho tuần mới. Hãy tham khảo nha!</div>
                            <div class="container-suggestion__week-box">
                                <div class="row">
                                    <div class="col l-6 m-6 c-6">
                                        <div class="container-box__item">
                                            <a href="" class="container-box__link">
                                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201012/50458339282_dc292a6985_k.jpg"
                                                    class="container-box__link-img">
                                                </img>
                                                <div class="container-box__link-text">
                                                    Quần kaki Wrinkless BK058
                                                </div>
                                            </a>
                                            <div class="container-box__price">450,000₫</div>
                                        </div>
                                    </div>

                                    <div class="col l-6 m-6 c-6">
                                        <div class="container-box__item">
                                            <a href="" class="container-box__link">
                                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200924/50378693352_0f079b157e_k.jpg"
                                                    class="container-box__link-img">
                                                </img>
                                                <div class="container-box__link-text">
                                                    Sơ mi dạ dài tay 2 túi Pazzini
                                                </div>
                                            </a>
                                            <div class="container-box__price">450,000₫</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- news --}}
        <div class="container__wrapper-box">
            <div class="container__wrapper-box-text">TIN TỨC</div>
            <div class="grid">
                <div class="row row-larger">
                    <div class="col l-3 m-3 c-6">
                        <div class="container-news center-column">
                            <a href="" class="container-news__link center-column">
                                <img src="https://bucket.nhanh.vn/store/2071/art/article_1591410084_283.png" alt=""
                                    class="container-news__img">

                            </a>
                            <a href="" class="container-news__title">Sale UP TO 50%- Mừng Sinh Nhật 5 Tuổi Torano</a>
                            <div class="container-news__description">
                                Tưng bừng sale- mừng sinh nhất torano 5 tuổi
                            </div>
                            <a href="" class="container-news__link-more">Xem thêm</a>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-news center-column">
                            <a href="" class="container-news__link center-column">
                                <img src="https://bucket.nhanh.vn/store/2071/art/article_1469513362_395.jpg" alt=""
                                    class="container-news__img">
                            </a>
                            <a href="" class="container-news__title">
                                Trang phục đi biển cho chàng mùa hè 2020
                            </a>
                            <div class="container-news__description">
                                Biển chính là nơi giúp bạn được ở bên người ấy nhiều thời gian nhất và là sự lựa chọn cực kỳ đúng vào
                            </div>
                            <a href="" class="container-news__link-more">Xem thêm</a>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-news center-column">
                            <a href="" class="container-news__link center-column">
                                <img src="https://bucket.nhanh.vn/store/2071/art/article_1469515167_925.png" alt=""
                                    class="container-news__img">

                            </a>
                            <a href="" class="container-news__title"> Tại sao nam giới phải "đầu tư" cho Underwear?</a>
                            <div class="container-news__description">
                                Các chị em phụ nữ chưa bao giờ thôi “đam mê” các món underwear đa dạng đủ kiểu dáng, màu sắc, và sử
                            </div>
                            <a href="" class="container-news__link-more">Xem thêm</a>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-news center-column">
                            <a href="" class="container-news__link center-column">
                                <img src="https://bucket.nhanh.vn/store/2071/art/article_1469790188_488.jpg" alt=""
                                    class="container-news__img">

                            </a>
                            <a href="" class="container-news__title">Hướng dẫn chọn size quần áo cho nam giới</a>
                            <div class="container-news__description">
                                Trang phục sẽ tôn lên vóc dáng con người, vì vậy, quan trọng hơn cả là bạn phải chọn được trang phục phù hợp
                            </div>
                            <a href="" class="container-news__link-more">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>