<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="container__wrapper">
        <div class="container__wrapper-header">
            <img src="https://bucket.nhanh.vn/store/2071/bn/sb_1602043317_283.jpg" alt=""
                class="container__wrapper-header-img">
        </div>
        {{!-- Product 1 --}}
        <div class="container__wrapper-product">
            <div class="container__wrapper-product-text">SẢN PHẨM MỚI</div>
            <div class="grid">
                <div class="row row-larger">
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200924/img_8241_50344829886_o.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">

                                    Áo khoác Bomber gió bổ sườn Pazzini
                                </div>
                            </a>
                            <div class="container-product__price">450,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200924/img_8319_50354048098_o.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">
                                    Áo khoác gió có mũ Pazzini CW015
                                </div>
                            </a>
                            <div class="container-product__price">530,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201009/z2117365396603_8cebf8f26dabb64127eea47cfb67222ca.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">
                                    Áo khoác da lộn phối ngực Pazzini
                                </div>
                            </a>
                            <div class="container-product__price">590,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201015/50478501467_4e4798a8ba_k_jpga.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">
                                    Áo phao trần bông
                                </div>
                            </a>
                            <div class="container-product__price">700,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201015/50477753753_fab1bd686a_k.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">
                                    Áo nỉ trơn basic TW200
                                </div>
                            </a>
                            <div class="container-product__price">320,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201014/50475854656_1acee2d8c9_k.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">
                                    Áo khoác gió có mũ phối thân in logo
                                </div>
                            </a>
                            <div class="container-product__price">490,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201001/50403853572_a5b0ef1065_k.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">

                                    Áo khoác gió Bomber thêu logo tay CW001
                                </div>
                            </a>
                            <div class="container-product__price">450,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200924/img_8241_50344829886_o.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">

                                    Áo khoác Bomber gió bổ sườn Pazzini
                                </div>
                            </a>
                            <div class="container-product__price">450,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Product 2 --}}
        <div class="container__wrapper-product">
            <div class="container__wrapper-product-text">SẢN PHẨM BÁN CHẠY</div>
            <div class="grid">
                <div class="row row-larger">
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200924/50378693352_0f079b157e_k.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">
                                    Sơ mi dạ dài tay 2 túi Pazzini
                                </div>
                            </a>
                            <div class="container-product__price">450,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200923/img_8070_50344780957_o.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">
                                    Áo phông dài tay melange cổ tròn Pazzini LTF19-02
                                </div>
                            </a>
                            <div class="container-product__price">190,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201012/50458339282_dc292a6985_k.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">
                                    Quần kaki Wrinkless BK058
                                </div>
                            </a>
                            <div class="container-product__price">450,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201015/50478024483_093408a4c5_k.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">
                                    Quần nỉ trơn basic BS200
                                </div>
                            </a>
                            <div class="container-product__price">330,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201008/50407555877_81e8f87de0_k.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">
                                    Sơ mi dài tay trơn Torano TB190
                                </div>
                            </a>
                            <div class="container-product__price">380,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200925/50381208567_9e27b7f5c3_k.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">
                                    Quần âu Torano Slim fit cạp phối chun sườn BT002
                                </div>
                            </a>
                            <div class="container-product__price">450,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201001/50403853572_a5b0ef1065_k.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">

                                    Quần âu Torano Slim fit cạp phối chun sườn BT002
                                </div>
                            </a>
                            <div class="container-product__price">450,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                    <div class="col l-3 m-3 c-6">
                        <div class="container-product__item container-product__item--has-hover">
                            <a href="" class="container-product__link">
                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200916/img_8522_jpga.jpg"
                                    class="container-product__link-img">
                                </img>
                                <div class="container-product__link-text">
                                    Quần âu Torano Slim fit BT025
                                </div>
                            </a>
                            <div class="container-product__price">450,000₫</div>
                            <div class="container-product__btn">
                                <a href="" class="container-product__buy">
                                    <i class="container-product__link-icon fas fa-cart-plus"></i>Mua ngay</a>
                                <a href="" class="container-product__show-detail">
                                    <i class="container-product__link-icon far fa-eye"></i>Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- suggestion --}}
        <div class="container__wrapper-suggestion">
            <div class="grid">
                <div class="row row-larger">
                    <div class="col l-6 m-6 c-12">
                        <img src="https://bucket.nhanh.vn/store/2071/bn/sb_1602232947_885.jpg" alt=""
                            class="container-suggestion__img-title">
                    </div>

                    <div class="col l-6 m-6 c-12">
                        <div class="container-suggestion__week">
                                <a href="" class="container-suggestion__week-title">
                                    SET ĐỒ CỦA TUẦN
                                     <div class="container-suggestion__week-line"></div>
                                </a>
                            <div class="container-suggestion__week-description">Lựa chọn của Stylist Torano giúp các bạn có
                                một set đồ hoàn hảo cho tuần mới. Hãy tham khảo nha!</div>
                            <div class="container-suggestion__week-product">
                                <div class="row">
                                    <div class="col l-6 m-6 c-6">
                                        <div class="container-product__item">
                                            <a href="" class="container-product__link">
                                                <img src="https://bucket.nhanh.vn/store/2071/ps/20201012/50458339282_dc292a6985_k.jpg"
                                                    class="container-product__link-img">
                                                </img>
                                                <div class="container-product__link-text">
                                                    Quần kaki Wrinkless BK058
                                                </div>
                                            </a>
                                            <div class="container-product__price">450,000₫</div>
                                        </div>
                                    </div>

                                    <div class="col l-6 m-6 c-6">
                                        <div class="container-product__item">
                                            <a href="" class="container-product__link">
                                                <img src="https://bucket.nhanh.vn/store/2071/ps/20200924/50378693352_0f079b157e_k.jpg"
                                                    class="container-product__link-img">
                                                </img>
                                                <div class="container-product__link-text">
                                                    Sơ mi dạ dài tay 2 túi Pazzini
                                                </div>
                                            </a>
                                            <div class="container-product__price">450,000₫</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>